html,
body {
  padding: 5;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.experiencia{
  padding-bottom: 0.5rem;
}
.data_picker{
  padding-bottom: 0.5rem;
}
.lingua {
  display: grid;
  width: 50%;
}

.link {
  display: grid;
  padding-left: 0.5rem;
  grid-template-columns: 40%;
  width: 50%;
}

.campoFull{
  width: 100% !important;
}

.campoDinamico{
  padding-top: 10px;
}

.right{
  align-items: right !important; 
  float: right !important;  
}

.login-button{
  align-self: right;
  float: right;
  align-items: right;
}

ul.menu li {
  display:inline-block;
  padding-right: 1rem;
}

.white{
  color:white !important;
}