.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
    background-color: #fff;
    width: 80%;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modalButtons{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.buttonCloseModal {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.buttonCloseModal:hover {
    background-color: #fff !important;
    color: var(--primary) !important;
    border: none;
}

@media screen and (max-width: 768px) {
    .modalContent {
        width: 100%;
    }
}
    